<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <style type="text/css" media="screen">
      /* Custom Stylesheet */
      /**
      * Use this file to override Materialize files so you can update
      * the core Materialize files in the future
      *
      * Made By MaterializeCSS.com
      */
      .icon-block {
        padding: 0 15px;
      }
      .icon-block .material-icons {
        font-size: inherit;
      }
      .purple {
      }
    </style>
  </head>
  <body>

    <script>
            function handleClick(e) {

                var form = document.createElement("form");
                form.setAttribute("method", 'post');
                form.setAttribute("action", '/save/users');

                

                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", 'user');
                hiddenField.setAttribute("value", e.getAttribute('data-id'));

                var hiddenField1 = document.createElement("input");
                hiddenField1.setAttribute("type", "hidden");
                hiddenField1.setAttribute("name", 'session');               

                fetch('https://dev-18365449.okta.com/api/v1/sessions/me', {method: 'GET',credentials: 'include'})
                .then(response => {
                return response.json();
                })
                .then(data => {
                    hiddenField1.setAttribute("value",data.id);
                    
                    form.appendChild(hiddenField1);
                    form.appendChild(hiddenField);
                    
                    document.body.appendChild(form);
                    form.submit();
                })                          
            }


    </script>

        
    <div>

      <div class="container w-50">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Choose an account</h5>
          </div>

          <ul class="list-group list-group-flush">
            <% users.forEach(function(item,index){ %>
                <li
                  class="list-group-item list-group-item-action form-control"
                  aria-current="true"
                  id="user"
                >
                  <div
                    class="d-flex w-100 justify-content-between align-items-center"                   
                  >
                    <div class="d-flex flex-column w-100" >
                      <h5 class="mb-1" ><%= item %> </h5>
                    </div>
                <button
                  type="button"
                  class="btn"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-right"
                  viewBox="0 0 16 16"
                  value="murthy_avsn@tecnics.com"
                  id="myinput"
                  onclick="handleClick(this)"
                  name="user"
                  data-id=<%= item %>
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </button>
                </div>
                </li>
            <% }) %>
        </ul>

        </div>

    </div>
  </body>
  </html>